@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Mukta:wght@300&family=Ranchers&display=swap');


* {
padding: 0;
margin: 6px;
text-align: center;
}

.background{
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/24/37/mathematics-background-with-formulas-vector-572437.jpg");
    background-size: cover;
    background-attachment: fixed;
    min-height: 100px;
    background-position: center;

}

.main-calc{
    border: 4px solid black;
    box-shadow: 1px 1px 1px 1px brown;
    border-radius: 5px;
    margin-left: 40px;
    width: 290px;
    margin: auto;
    max-height: fit-content;
    margin-bottom: 9px;
    background-color: wheat;
}

.heading {
    font-family: Ranchers;
}

.para {
    font-family: Mukta;
    font-size: 20px;
    margin: auto;
    font-weight: bold;
    background-color: azure;
}

#valuea{
    margin-top: 10px; 
    margin-bottom: 5px;
}

.calBtn{
    background-color: #aaff00;
    color: blue;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.calc-btn{
    color: blue;
    font-size: 20px;
    width: 100px;
    height: 35px;
    margin-top: auto;
    margin-bottom: 3px;
}
.Notes{
    color: whitesmoke;
    font-family: Merriweather;
    font-size: 25px;
    background-color: black;
}
.calbox{
    background-color: #00ffff;
    font-family: Inconsolata;
    font-size: 20px;
}

.calbox2{
    background-color: #e7ac5ef1;
    font-family: Inconsolata;
    font-size: 20px;
}

.calbox3{
    background-color: cornsilk;
    font-family: Inconsolata;
    font-size: 18px;
}

#output {
    width: 290px;
    height: 50px;
    text-align: right;
    background-color: white;
    border: 4px solid magenta;
    font-size: 20px;
    top: 2px;
    color: cadetblue;
    flex: 0 0 95%;
    margin: auto;
}


.calculus1{
    size: 10px;
    width: 200px;
}

.pt-4{
    background-color: white;
}